/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

/* ---- COLORS ---- */
:root {
  
  /* -- basics -- */
  --backgroundColor: #000;
  --fontSize: 13px;
  --h1FontSize: 16px;
  
  /* -- theme -- */
  --themeColor: #00ff1e;
  --themeColor75: #00ff1eba;
  --themeColor50: #00ff1e7e;
  --themeColor25: #00ff1e27;
}

/* ---- SCROLLBAR ---- */

::-webkit-scrollbar {
  width: 16px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  background-image: url(https://i.imgur.com/Qtm9Z60.png);
  border-top: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  background-image: url(https://i.imgur.com/IGXGYKz.png);
}
::-webkit-scrollbar-button:vertical:increment {
  background-image: url(https://i.imgur.com/WhC8iy3.png);
  width: 14px;
  height: 16px;
  border-top: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(https://i.imgur.com/fQ18mrR.png);
  border-top: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 14px;
  height: 16px;
}

/* ---- BASIC SHIZ ---- */

body {
  background-color: var(--backgroundColor);
  color: #f2f2f2;
  font-family: Consolas, monospace;
  font-size: var(--fontSize);
}

h1 {
  font-size: var(--h1FontSize);
  font-weight: 400;
  color: black;
}

a {
  color: var(--themeColor);
  text-decoration: none;
}

/* ---- START ---- */

#start {
  border: 1px solid var(--themeColor);
  width: 50vw;
  height: 20vw;
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  margin: 25vh auto;
  justify-content: space-between;
  }

#start label {
  font-size: 16px;
}

.userbox {
  width: 50vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

#username {
  border: 1px solid var(--themeColor);
  width: 48vw;
  height: 2vw;
  padding: 15px;
}


#password {
  border: 1px solid var(--themeColor);
  width: 48vw;
  height: 2vw;
  padding: 15px;
}

.login {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.login button {
  background: var(--backgroundColor);
  border: 1px solid var(--themeColor);
  width: 10vw;
  height: 4vw;
  padding: 15px;
  color: var(--themeColor);
  font-family: Consolas, monospace;
}

/* ---- DESKTOP ---- */ 

#desktop {
  height: 94vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px 10px;
}

.apps {
  width: 3.5vw;
  min-height: 3.5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0.5vw;
  cursor: pointer;
}

.apps img {
  width: 100%;
  height: auto;
}

.apps p {
  text-align: center;
}

/* TASKBAR */ 
#taskbar {
  width: 99.5%;
  height: 3vw;
  margin-left: -0.25%;
  border: 1px solid var(--themeColor);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position:fixed;
  bottom:0;
}

.taskbar-left {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  max-width: 65vw;
}

.taskbar-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  max-width: 25vw;
}

#searchbar {
  padding: 6px;
  border: 1px solid var(--themeColor);
  width: 21vw;
  margin: 0 0.5vw;
  background: var(--backgroundColor);
  color: var(--themeColor);
}

.icon {
  width: 0.5vw;
}

.icon:hover {
  color: var(--themeColor25);
}

.iconactive {
  width: 0.5vw;
  border-bottom: 2px solid var(--themeColor);
  color: var(--themeColor50);
}

.iconactive:hover {
  color: var(--themeColor75);
}

.time {
  width: 5vw;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 0.5vw;
  justify-content: space-evenly;
}

.time p {
  margin: 0;
}

/* dropup menus */

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 0.9vw;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #f2f2f226;
}

.more-icons {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: var(--themeColor);
  width: 8.5vw;
  overflow: auto;
  z-index: 1;
  bottom: 3vw;
}

.dropup-content-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 16px;
}

.dropup-content-flex img {
  height: 1.5vw;
  width: auto;
  margin: 0.1vw 0.2vw;
}   

#myWifi {
  width: 10.5vw;
}

#myWifi .dropup-content-flex {
  flex-direction: column;
  padding: 0;
}
#myWifi .dropup-content-flex a {
  padding: 5px 16px;
  color: var(--backgroundColor);
}

.lighter {
  font-weight: 400;
  color: rgb(58, 58, 58);
  text-align: right;
}

.more-icons a:hover {background-color: #1f1f1f22;}

.show {display: block;}

.soundButton {
  background: transparent;
  width: 1.5vw;
  box-shadow: none;
  border: none;
}

#myPlayer {
  width: 15.5vw;
  right: 1vw;
  min-height: 4vw;
}

#myPlayer .dropup-content-flex {
  padding: 5px 0px;
  justify-content: space-evenly;
  min-height: 4vw;
}

/* --- SOUND STYLING --- */
#audio-player-container {
  --seek-before-width: 0%;
    --buffered-width: 0%;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 15px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:before {
  width: var(--seek-before-width);
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(to right, #000 var(--buffered-width), #22ff00 var(--buffered-width));
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #22ff00;
  height: 31px;
  width: 16px;
  border-radius: 1px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000000;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: linear-gradient(to right, #000 var(--buffered-width), #22ff00 var(--buffered-width));
  border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #22ff00;
  height: 31px;
  width: 16px;
  border-radius: 1px;
  background: #000000;
  cursor: pointer;
}
input[type="range"]::-moz-range-progress {
  background-color: green;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #22ff00;
  height: 31px;
  width: 16px;
  border-radius: 1px;
  background: #000000;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #000000;
}


/* input[type="range"] {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    height: 19px;
    margin: 30px 2.5% 20px 2.5%;
    outline: none;

}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, var(--themeColor) var(--buffered-width), rgb(0, 255, 72) var(--buffered-width));
}
input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: var(--backgroundColor);
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid var(--themeColor);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--backgroundColor);
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
    background-color: #007db5;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background-color: #000000;
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(4, 255, 0, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #00ff1e;
} */

#songFlexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #000;
}